pyjapc>=2.0.5&&<3
pydm>=1.7.3&&<2
numpy>=1.16.4&&<2
argcomplete>=1.10.0&&<2
QtPy>=1.7&&<2
-e git+ssh://git@gitlab.cern.ch:7999/acc-co/accsoft/gui/accsoft-gui-pyqt-widgets.git#egg=accsoft_gui_pyqt_widgets
-e git+ssh://git@gitlab.cern.ch:7999/pelson/papc.git#egg=papc