{% include "header.j2" %}

import os
from setuptools import setup, PEP420PackageFinder


find_packages = PEP420PackageFinder.find


setup(name='{{ package['name'] }}',
      version='{{ package['version'] }}',{% if 'description' in package %}
      description='{{ package['description'] }}',{% endif %}{% if 'maintainer' in package %}
      maintainer='{{ package['maintainer'] }}',{% endif %}{% if 'maintainer_email' in package %}
      maintainer_email='{{ package['maintainer_email'] }}',{% endif %}
      packages=find_packages(),
      package_data={'': ['*']},
      python_requires='>=3.7,<3.10',
      platforms=['linux'],
      classifiers=[
          'Programming Language :: Python :: 3',
          'Programming Language :: Python :: Implementation :: CPython',
          'Operating System :: POSIX :: Linux',
          'Environment :: X11 Applications :: Qt',
      ],
      install_requires=[{% for req in package['install_requires'] %}
          '{{ req|safe }}',{% endfor %}
      ])
